.BlockSegment {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 11px;
  justify-content: space-between;
}

.row {
  align-items: flex-start;
}
.row-reverse {
  align-items: flex-end;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.borderRadiusLeft {
  border-radius: 0px 30px 30px 0px;
}
.borderRadiusRight {
  border-radius: 30px 0px 0px 30px;
}

.textContent {
  .trapezoid {
    background-color: black;
    h1 {
      font-family: 'Helvetica Neue';
      font-style: normal;
      font-weight: 700;
      font-size: min(48px, 6vw);
      text-transform: uppercase;

      color: #ffffff;

      margin-left: 40px;
      margin-right: 40px;
    }
  }
  .nestedContent {
    margin: 0px 60px;
    p {
      font-family: 'Helvetica Neue';
      font-style: normal;
      font-weight: 200;
      font-size: 1.5em;

      color: #ffffff;
      width: min(64vw, 822px);
    }
  }
}

@media only screen and (max-width: 678px) {
  .row,
  .row-reverse {
    flex-direction: column;
  }
  .trapezoid {
    width: 90vw;
    padding: 5px 0;
  }
}
@media only screen and (min-width: 679px) {
  .trapezoid {
    padding: 10px;
  }
}

.mediaContent {
  position: relative;
  margin-bottom: 120px;
  img {
    width: 80%;
  }
  video {
    width: 62.5%;
    position: absolute;
    z-index: 2;
    bottom: -5%;
    left: -30%;
  }
}
