@media only screen and (max-width: 678px) {
  .Navbar {
    .NavLinks {
      display: none;
    }
    .Menu {
      color: white;
    }
  }
}
@media only screen and (min-width: 679px) {
  .Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 27px 10px;
    .Menu {
      display: none;
    }
  }
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 10px;
  .Logo {
    width: min(48vw, 300px);
  }
}
