.Roster {
  h1 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */

    text-transform: uppercase;

    color: #ffffff;
  }
  .TextField {
    margin: 0 auto;
  }
}
