.TextField {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 34px;

  height: 49px;

  background: #000000;
  border: 2px solid #8d8d8d;
  border-radius: 35px;
  transition: all 0.5s;

  input {
    border: none;
    background-color: transparent;
    width: 100%;
  }

  input[type='text'] {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */

    color: #8d8d8d;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
}

.TextField:hover {
  border: 2px solid #d79e00;
}

.TextFieldContainer {
  ul {
    // position: absolute;
    max-width: 375px;
    top: 0%;
    margin: 0;
    // transform: translate(-50%, -50%);
  }
  li {
    font-family: 'Helvetica Neue';
    font-style: normal;
    list-style: none;
    color: grey;
    background-color: black;
    padding: 10px;
    &:hover {
      color: white;
      cursor: pointer;
      border-left: 2px solid #d79e00;
    }
  }
}
